include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude docs *

include versioneer.py
include crystalmapping/_version.py
include crystalmapping/data/*

# If including data files in the package, add them like:
# include path/to/data_file
include crystalmapping/data/*
