# need for analysis after the experiments
diffpy.structure
matplotlib
netcdf4
numpy
pyfai
trackpy
xarray
# need for experiment at nsls-ii
bluesky
databroker <2.0.0a
databroker-pack
fire
mongodb
pymongo
